<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.excel.mapper.ExcelMapper">
<!--获取到excel列字段与数据库字段的映射信息-->
<select id="getExcelColMapping" resultType="java.util.HashMap">
    SELECT
      excel_id as "excelId",
      excel_name as "excelName",
      ord as "ord",
      status as "status",
      is_null as "isNull",
      is_size as "isSize",
      is_create as "isCreate",
      group_name as "groupName"
    FROM
      excel_db_mapping
    ORDER BY ord ASC
</select>
</mapper>